*{
    
}
body{
    background-image: linear-gradient(black, rgb(182, 182, 226))
}
form{
    justify-content: center; 
    align-items: center;
    display: flex;
    min-height:20vh;
    padding:0;
}
.c{
    border-radius: 1rem;
    padding:1rem;
    margin-right: 1rem;
    margin-left: 10rem;
    flex: 1 1 0%;
    display:flex;
    font-size: 1.25rem;
    border: none;
    max-width: 60%;
}
h1{
    color: white;
    font size: 3rem;
}

.d{
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    flex:auto;
   
    justify-content: center;
    align-items: center;
    height:400px;
    box-sizing:border-box;
}

ul{
    text-align: left;
    display:inline-block;
    margin-top: 4%;
    margin-right:1%;
    margin-left:1%;
    cursor: pointer;
}

#total{
    text-align:center;
    display:flex;
    align-items:center;
    
    
}

ul li{
    padding:10px;
    color:white;
    font-size: 2rem;
    margin:1%;
}
ul li:hover{
    background: rgb(207, 36, 64);
}
